<%# the `html: { multipart: true } enables file upload
 I think multipart: true may not be needed for new version of rails
 as deleting it still works %>
<%= form_for(@micropost, html: { multipart: true }) do |f| %>
  <%#  f.object is @micropost %>
  <%= render "shared/error_messages", object: f.object   %>

  <div class="field">
    <%= f.text_area :content, placeholder: "Compos a new micropost..." %>
  </div>

  <%= f.submit "Post", class: "btn btn-primary" %>
  <span class="picture">
    <%= f.file_field :picture %>
  </span>
<% end %>